.album-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #580202;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.9rem;
}

.album-button:hover {
    background-color: #111;
}
section ul li a {
    text-decoration: none;
    color: #580202;
    font-weight: bold;
}

section ul li a:hover {
    text-decoration: underline;
}